TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE_NUMBER=
TELEGRAM_TARGET_CHAT_ID=

WEB_PORT=

BINANCE_API_KEY=
BINANCE_API_SECRET=
USDT_AMOUNT_PER_TRADE=

MONGO_URI="mongodb://[usn]:[pw]@mongodb1:27017/"
MONGO_INITDB_ROOT_USERNAME=""
MONGO_INITDB_ROOT_PASSWORD=""

TRAILING_ENABLED="True"
MIN_TRAILING_TP_LEVEL="1"
TRAILING_TRIGGER_PERCENTAGE="0.015"

STUCK_TRADE_ENABLED="True"
STUCK_TRADE_ENABLED="True"
STUCK_TRADE_DURATION_HOURS="6"

PRIORITIZE_NORMAL_RISK = "True"

FILTER_OLD_SIGNALS_ENABLED = "True"
SIGNAL_VALIDITY_MINUTES ="45"

BTC_TREND_FILTER_ENABLED=True
BTC_FILTER_TIMEFRAME="15m"
BTC_FILTER_SMA_PERIOD=50

ALTCOIN_TREND_FILTER_ENABLED="True"